.formBooking{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.User_Infor{
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Make_Payment{
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Make_Payment_Test{
  width: 100%;
  font-size: 2vw;
  text-align: center;
  font-family: 'clesmont';
  letter-spacing: 2px;
  margin-bottom: 5%;
}

.formBooking_title{
  width: 100%;
  font-size: 2vw;
  text-align: center;
  font-family: 'clesmont';
  letter-spacing: 2px;
  margin-bottom: 5%;
}
.Booking_Form{
  height: 8%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Booking_Form_Value{
  background-color: rgba(0, 0, 0, 0);
  width: 95%;
  height: 50%;
  font-size: 1.3vw;
  padding-left: 5%;
  z-index: 3;
  &:focus{
    outline: none;
  }
}
.Booking_Button_Test{
  height: 6%;
  background-color: ;
  color: white;
  background-color: rgb(255, 204, 192);
  font-size: 2vw;
  font-family: "clesmont";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin-top: 5%;
  cursor: pointer;
  &:focus{
    background-color: rgb(250, 155, 134);
  }
}
.Booking_Button_Test:hover{
  background-color: rgb(250, 155, 134);
}
.EmptySeat{
  display: flex;
  font-size: 1vw;
}