.header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100vw;
  height: 100%;
}

.image1 {
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  justify-content: center;
}

.headerContainer .headerTitle {
  width: 100%;
  max-width: 1024px;
  margin: 100px 0px 0px 0px;
  text-align: center;
  -webkit-text-stroke: 1px #2e2e2e;
}

.headerContainer .headerTitle2 {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 0px 0px;
  text-align: center;
  font-size: 30px;
  -webkit-text-stroke: 1px #2e2e2e;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  font-weight: 700;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 1px 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.headerSearch {
  margin-top: 1rem;
  height: auto;
  background-color: white;
  border: 3px solid #febb02;
  display: block;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  border-radius: 5px;
  width: 100%;
  max-width: 1024px;
  margin-bottom: 2rem;
}

.mid{
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
}

svg{

}

.formInput1{
  display: flex;
  gap: 1rem;
  width: 50%;
}
.formInput2{
  display: flex;
  gap: 1rem;
  width: 50%;
}
.bottom{
  position: relative;
}
.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
}